<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.system.services">
    <application
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/icon"
        tools:replace="android:icon,android:roundIcon" />
</manifest>

